@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Poppins, sans-serif;
    background-color: var(--color5);
}

:root{
    --color1 : rgb(0,0,205);
    --color2 : rgb(128,128,128);
    --color3 : #efefef;
    --color4 : black ;
    --color5 : white ;
    --color6 : #262626;
    --color7 : #5239fa;
}
.content{
    height: 160vh;

}
